/* -------------- Header----------------- */
body {
  margin: 0;
  padding: 0;
  background-color: rgba(102, 209, 196, 0.79);
  color: white;
  font-family: sans-serif;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

header h2 {
  font-size: 8vw;
  font-family: "Luckiest Guy", cursive;
  color: black;
  margin-bottom: 8px;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  display: block;
  margin-top: 0;
  padding: 0;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 4vh;
}

nav ul li {
  margin-right: 10px;
  display: inline-block;
  height: 100%;
  width: 22%;
  text-align: center;
}
nav ul li a {
  padding: 10%;
  font-size: 2.3vw;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #6b6b6b;
}

.logo {
  width: 15%;
  height: 10vh;
  margin-left: 5vw;
  text-align: center;
  line-height: 3;
  font-size: 40px;
}

/* -------------- Mobile -------------- */

@media only screen and (max-width: 375px) {
  nav ul li a {
    font-size: 10vw;
    padding: 0;
  }

  nav ul li {
    display: block;
    width: 100%;
    margin: 0;
  }
}

/* ------------------------------------ */

/* -------------- Header ---------------- */

/* -------------- footer ----------------- */
Í footer {
  background-color: black;
  /* height: 50vh; */
}

/* -------------- footer ----------------- */
