/* -------------- intro ----------------- */

@media only screen and (min-width: 376px) {
  .pulse {
    margin-top: 40vh;
    border-bottom: 1vh solid white;
  }

  .scroll {
    display: block;
    margin-bottom: 5vh;
    font-size: 1.5vw;
    animation: pulse 3.6s ease-in infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .anim {
    animation: anim 1.8s ease-out;
    opacity: 1 !important;
  }
  @keyframes anim {
    0% {
      transform: translateY(150px) rotateY(30deg) skewY(-2deg);
      opacity: 0;
    }
    100% {
      transform: translateY(0px) rotateY(0deg) skewY(0);
      opacity: 1;
    }
  }
}

/* -------------- grid ----------------- */

.grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
    ". p  t ."
    ". t2  p2 ."
    ". p3  t3 ."
    ". t4  p4 ."
    ". p5  t5 .";
  grid-template-columns: 0.1fr 0.6fr 0.6fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid div:first-child {
  grid-area: p;
}
.grid div:nth-child(2) {
  grid-area: t;
}
.grid div:nth-child(3) {
  grid-area: p2;
}
.grid div:nth-child(4) {
  grid-area: t2;
}
.grid div:nth-child(5) {
  grid-area: p3;
}
.grid div:nth-child(6) {
  grid-area: t3;
}
.grid div:nth-child(7) {
  grid-area: p4;
}
.grid div:nth-child(8) {
  grid-area: t4;
}
.grid div:nth-child(9) {
  grid-area: p5;
}
.grid div:nth-child(10) {
  grid-area: t5;
}

.grid img {
  width: 100%;
  opacity: 0;
}

.paragraph {
  padding: 3vw;
  font-size: 2vw;
  font-family: "Pathway Gothic One", sans-serif;
}

/* -------------- grid ----------------- */

/* ------------- Mobile ---------------- */

@media only screen and (max-width: 375px) {
  .grid {
    grid-template-areas:
      "p  t"
      "t2  p2 "
      "p3  t3"
      "t4  p4"
      "p5  t5";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0;
  }

  .grid img {
    opacity: 1;
  }
}

/* ------------- Mobile ---------------- */
